# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Project specific
.env
.env.*
!.env.example
uploads/

# IDE
.vscode/
.idea/

# Alembic
alembic/versions/*.pyc
